a {
  color: green;
}

a:hover {
  text-decoration: none;
}

.button {
  color: black;
}

.button:hover {
  color: white;
  font-size: 24px;
}


body {
  background-image: url("https://media.giphy.com/media/12BgMxV0fdAxWw/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
}
